<h1> Edit Route: <%= @route.route_name %></h1><br>

<form method="POST" action="/routes/<%= @route.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="route_name">Route:</label>
      <input type="text" name="route_name" id="route_name" />
      <label for="summer_gade">Summer Grade:</label>
      <input type="text" name="summer_grade" id="summer_gade" />
      <label for="winter_grade">Winter Grade:</label>
      <input type="text" name="winter_grade" id="winter_grade" />
      <label for="length">Length:</label>
      <input type="number" name="length" id="length" />

      <label for="crag_id"></label>
      <input type="number" name="crag_id" id="crag_id" value="<%= @route.crag_id %>" hidden/>
    </div><br>

    <div class="form-el">
      <input type="submit" value="Update Route"/>
    </div><br>
  </div>
</form>
