<p> All Routes </p>

<% for route in @routes do %>

<div class="route_list">

<p> <%= route.route_name %> is a <%= route.length %>m long <%= route.grade %></p>


</div>

<% end %><hr>


<h2> <a href="/routes/new">Add a new Route</a> </h2><br>
