<h1> Edit <%= @book.area %> Guidebook </h1>

<form method="POST" action="/books/<%= @book.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="area">Area:</label>
      <input type="text" name="area" id="area" value="<%= @book.area %>"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Update Guidebook"/>
    </div><hr>

  </div>
</form>
