<p> All Guide Books by area </p>

<% for book in @books do %>

<div class="book_list">

<p> <%= book.area %> Guidebook</p>
<p> <a href="/books/<%= book.id %>">View Crags in this Guide </a> </p>
<h2> <a href="/books/<%= book.id %>/edit">Edit this Guide Book</a> </h2>
<h2> <a href="/books/<%= book.id %>/delete">Delete this Guide Book</a> </h2>
</div>

<% end %>

<h2> <a href="/books/new">Add a new Guide Book</a> </h2>
