<p> All Guide Books by area </p><br>



<div class="list">

  <table style="width:80%">
    <tr>
      <th></th>
      <th>Guide Book Area</th>
      <th></th>
      <th></th>
    </tr>
    <% for book in @books do %>
    <tr>
      <td><h2> <a href="/books/<%= book.id %>/edit">Edit</a> </h2></td>
      <td><%= book.area %></td>
      <td><form class="delete_button" action="/books/<%= book.id %>/delete" method="POST">
        <input type="submit" value="Delete">
      </form></td>
      <td> <h2> <a href="/books/<%= book.id %>/crags">Show all crags in this guide</a> </h2>
      </td>
    </tr>
    <% end %>
  </table>

  </div>

</div><hr>

<div class="add-new">
  <h2> <a href="/books/new">Add a new Guide Book</a> </h2>
</div>
