<h2> Add a new Guidebook</h2>


<form method="POST" action="/books">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="area">Area:</label>
      <input type="text" name="area" id="area"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Guidebook"/>
    </div>

  </div>
</form>
