<p> All Crags </p>

<% for crag in @crags do %>

<div class="crag_list"><br>

<p> <%= crag.crag_name %> </p>
<p> <a href="/crags/<%= crag.id %>">View Routes on this Crag </a> </p>
<p> <a href="/crags/<%= crag.id %>/edit">Edit this Crag </a> </p>

</div><br>

<% end %>
