<p> All Crags </p>

<% for crag in @crags do %>

<div class="crag_list"><br>

<p> <%= crag.crag_name %> </p>
<p> <a href="/crags/<%= crag.id %>">View Routes on this Crag </a> </p>
<p> <a href="/crags/<%= crag.id %>/edit">Edit this Crag </a> </p>

<form class="delete_button" action="/crags/<%= crag.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form>

</div><br>

<% end %>

<h2> <a href="/crags/new">Add a new Crag</a> </h2>
