<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Route Selector</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>

<div class="">

</div>

  <body>

    <header class="main_nav">
      <nav>
        <ul>
          <li>
            <a href="/books"> Books </a>
          </li>
          <li>
            <a href="/crags"> Crags </a>
          </li>
          <li>
          <a href="/routes"> Routes </a>
        </li>
        </ul>
      </nav>
    </header><hr>

    <form  action="/routes/:id" method="get">
    <div class="form-wrapper">
      <div class="form-el">
        <label for="route_name">Search for route:</label>
        <input type="text" name="route_name" id="route_name" />
      </div>
      <div class="form-el">
        <input type="submit" value="Search"/>
      </div><br>
    </div>
    </form>

    <main>
      <%= yield %>
    </main>

    <br><footer> &copy 2018 </footer>

  </body>

</html>
