<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Route Selector</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>

<div class="">

</div>

  <body>

    <header class="main_nav">
      <nav>
        <ul>
          <li>
            <a href="/books"> Books </a>
          </li>
          <li>
            <a href="/crags"> Crags </a>
          </li>
          <li>
          <a href="/routes"> Routes </a>
        </li>
        </ul>
      </nav>


      <div class="main_nav">

        <form  action="/routes/:id" method="get">
        <div class="form-wrapper">
          <div class="form-el">
            <label for="route_name">Search for route:</label>
            <input type="text" name="route_name" id="route_name" />
          </div>
          <div class="form-el">
            <input type="submit" value="Search"/>
          </div><br>
        </div>
        </form>

        <form  action="/crags/:id" method="get">
        <div class="form-wrapper">
          <div class="form-el">
            <label for="crag_name">Search for crag:</label>
            <input type="text" name="crag_name" id="crag_name" />
          </div>
          <div class="form-el">
            <input type="submit" value="Search"/>
          </div><br>
        </div>
        </form>

      </div>

    </header><hr>



    <form  action="/routes/filter" method="get">
    <div class="form-wrapper">
      <div class="form-el">
        <label for="length"> Routes longer than :</label>
        <input type="number" name="length" id="length" value="0"/>
      </div>
      <div class="form-el">
        <label for="elevation"> Routes above this elevation :</label>
        <input type="number" name="elevation" id="elevation"/>
      </div>
      <div class="form-el">
        <label for="aspect"> Routes within 45 Degrees of this aspect :</label>
        <input type="text" name="aspect" id="aspect"/>
      </div>
      <div class="form-el">
        <label for="summer_grade"> Summer Grade :</label>
        <input type="text" name="summer_grade" id="summer_grade" />
      </div>
      <div class="form-el">
        <label for="winter_grade"> Winter Grade :</label>
        <input type="text" name="winter_grade" id="winter_grade" />
      </div>
      <div class="form-el">
        <input type="submit" value="Filter"/>
      </div><br>
    </div>
    </form>

    <main>
      <%= yield %>
    </main>

    <br><footer> &copy 2018 </footer>

  </body>

</html>
