body {
  background-color: #4c9ed9;
  font-family: Lucida Console;
  /* background-image: url('labyrinth.jpg'); */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.6) 100%), url('labyrinth.jpg');
  background-size: cover;
}


 nav li{
  display: inline-block;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    text-align: center;
    background-color: #80d4ff;
}

td {
    text-align: center;
}

tr:nth-child(odd) {background-color: #e6ffff;}
tr:nth-child(even) {background-color: #e6f7ff;}


.list {

}
